/* Font */
@font-face {
    font-family: "Lato Light";
    src: url("../font/Lato-Light.ttf");
}

@font-face {
    font-family: "Lato Regular";
    src: url("../font/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato Bold";
    src: url("../font/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato Black";
    src: url("../font/Lato-Black.ttf");
}

.lato-light {
    font-family: "Lato Light";
}

.lato-reg {
    font-family: "Lato Regular";
}

.lato-bold {
    font-family: "Lato Bold";
}

.lato-bold {
    font-family: "Lato Black";
}

.link-text {
    @apply transition duration-300 ease-in-out text-thomry-gold hover:text-thomry-gold-dark;
}

.link-text-2 {
    @apply transition duration-300 ease-in-out text-thomry-black hover:text-thomry-gold;
}

.link-text-3 {
    @apply transition duration-300 ease-in-out text-thomry-gray-ccc hover:text-thomry-gold;
}

.link-text-bold {
    @apply transition duration-300 ease-in-out text-thomry-gold hover:text-thomry-gold-dark lato-bold;
}

.link-text-2-bold {
    @apply font-semibold transition duration-300 ease-in-out text-thomry-black hover:text-thomry-gold;
}

.link-text-3-bold {
    @apply font-semibold text-white transition duration-300 ease-in-out hover:text-thomry-gold;
}

body {
    @apply text-lg text-thomry-black;
    font-family: "Lato Regular";
}   

html {
    scroll-behavior: smooth;
}

/* Navbar */
#navbar {
    transition: top 0.3s;
}

/* Button */
.primary-btn {
    @apply flex items-center px-5 py-3 text-xs tracking-wider transition duration-300 ease-in-out rounded-full bg-thomry-gold hover:bg-thomry-gold-dark lato-bold;
}

.secondary-btn {   
     @apply flex items-center px-5 py-3 text-xs tracking-wider transition duration-300 ease-in-out border rounded-full border-thomry-gray-ccc hover:text-white hover:bg-thomry-black hover:border-thomry-black lato-bold;
}

.tertiary-btn {   
    @apply flex items-center px-5 py-3 text-xs tracking-wider transition duration-300 ease-in-out bg-thomry-gold hover:bg-thomry-black hover:text-white lato-bold;
}

/* Image Container */
.img-container-70 {
    width: 100%;
    padding-top: 70%;
}

.img-container-75 {
    width: 100%;
    padding-top: 75%;
}

.img-container-100 {
    width: 100%;
    padding-top: 100%;
}

.img-container-120 {
    width: 100%;
    padding-top: 120%;
}

.img-container-130 {
    width: 100%;
    padding-top: 130%;
}

.img-container-150 {
    width: 100%;
    padding-top: 150%;
}

.img-container-170 {
    width: 100%;
    padding-top: 170%;
}

/* Collapse Button */
.collapsibleFAQ {
    cursor: pointer;
    width: 100%;
    @apply outline-none focus:outline-none;
  }
  
  .activeFAQ,
    .collapsibleFAQ:hover {
    background-color: #fff;
    @apply border-thomry-gray-ccc;
  }
  
  .collapsibleFAQ:after {
    color: #555;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .activeFAQ:after {
    transform: rotate(180deg);
    margin-bottom: -1.25rem;
  }
  
  .FAQcontent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  /* Collapse Button */
.collapsibleFAQ2 {
    cursor: pointer;
    width: 100%;
    @apply outline-none focus:outline-none;
  }
  
  .activeFAQ2,
    .collapsibleFAQ2:hover {
    background-color: #1a1a1a;
    @apply border-thomry-gray-ccc;
  }
  
  .collapsibleFAQ2:after {
    color: #555;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .activeFAQ2:after {
    transform: rotate(180deg);
    margin-bottom: -1.25rem;
  }
  
  .FAQcontent2 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #1a1a1a;
  }